body{
    background-color: white;
}



.container{
    width: 100vw;
    height: 100vh;
}



.btn{
    height: 5vh;
    align-items: center;
    text-align: center;
}




@media screen and (max-width: 480px) {
    body {
      background-color: blue;
    }

    .hand{
        display: none;
    }
  }



